// SIDEBAR

.sidebar
    background: darken($dark_highlight, 10%)
    .sidebar-user
        background: darken($dark_highlight, 5%)
        border-bottom: 1px solid darken($dark_highlight, 15%)
        padding: 10px
        position: relative
        height: 71px
        width: 100%
        .user-avatar img
            +roundedCorners(5px)
            +shadow(0 0 5px 0 darken($dark_highlight, 10%))
            position: absolute
            width: 51px
        .user-details
            +transform(translateY(-50%))
            position: absolute
            top: 50%
            padding-left: 65px
            width: 100%
            .user-handle
                color: white
                font-size: 1.8rem
                line-height: 2.5rem
            .user-rank
                color: lighten($highlight, 5%)
        .user-settings
            bottom: 10px
            position: absolute
            right: 10px
            .icon-settings
                color: white
                font-size: 1.4rem
    .sidebar-header
        border-bottom: 1px solid darken($dark_highlight, 20%)
        padding: 10px 15px 10px
        color: $highlight
        font-weight: 400
        text-transform: uppercase
        font-size: 1.2rem
    .course-joins
        +shadow(0 1px 0 $dark_highlight)
        .course-join
            +shadow(inset 0 1px 0 $dark_highlight)
            background: darken($dark_highlight, 5%)
            border-bottom: 1px solid darken($dark_highlight, 20%)
            a
                color: lighten($highlight, 10%)
                font-size: 1.5rem
                display: block
                padding: 15px
                position: relative
                .course-notifications
                    +shadow(0 0 3px darken($dark_highlight, 10%))
                    +roundedCorners
                    background: #E05047
                    color: white
                    font-size: 1.5rem
                    font-weight: 400
                    padding: 2px 5px
                    position: absolute
                    top: 13px
                    right: 15px
            &:hover
                +shadow(none)
                background: darken($dark_highlight, 10%)
                a
                    color: white
    .sidebar-menu
        +shadow(inset 0 1px 0 $dark_highlight)
        background: darken($dark_highlight, 5%)
        border-top: 1px solid darken($dark_highlight, 15%)
        padding: 15px
        position: absolute
        bottom: 0
        width: 100%
        .create-course
            text-align: center
            width: 100%


// CONTENT (post feed)

.content
    .content-header
        @extend .clearfix
        border-bottom: 1px solid $border_light
        padding: 15px
        position: relative
        width: 100%
        .header-logo
            float: left
            margin-left: 5px
            margin-right: 15px
            padding-top: 5px
            img
                width: 30px
        .header-title
            display: inline-block
            font-size: 2.3rem
            line-height: 4rem
            font-weight: 400
        .header-right
            display: block
            position: absolute
            right: 15px
            top: 15px
            height: 42px
            .button.accent
                display: inline-block
            .header-search
                +roundedCorners()
                border: 1px solid $border_light
                display: inline-block
                position: relative
                vertical-align: top
                height: 42px
                margin-right: 10px
                top: 0
                width: 200px
                input
                    +roundedCorners()
                    border: 0
                    font-size: 1.6rem
                    line-height: 38px
                    outline: 0
                    padding-left: 10px
                    max-width: calc(100% - 45px)
                .icon-search
                    +roundedCorners(0 3px 3px 0)
                    background: lighten($border_light, 5%)
                    border: 1px solid darken($border_light, 5%)
                    color: $dark_highlight
                    position: absolute
                    top: -1px
                    right: -1px
                    font-size: 1.6rem
                    line-height: 40px
                    padding: 0 10px
                    &:hover
                        background: $border-light
                        cursor: pointer
    .sub-header
        @extend .clearfix
        border-bottom: 1px solid $border_light
        padding: 0 15px
        position: relative
        width: 100%
        .sub-header-link
            display: inline-block
            color: darken($border-light, 30%)
            font-size: 1.5rem
            margin-right: 15px
            line-height: 48px
            height: 48px
            &.active
                border-bottom: 3px solid $dark_highlight
                color: $dark_highlight

$content_width: 670px

// NEW POST

.new-post
    padding: 25px
    padding-bottom: 0px
    max-width: $content_width
    .avatar
        +roundedCorners(4px)
        width: 50px
    .new-post-field
        +roundedCorners()
        background: white
        border: 1px solid $border_light
        float: right
        height: 50px
        position: relative
        width: calc(100% - 75px)
        .new-post-attach
            position: absolute
            left: 0
            text-align: center
            width: 35px
            .icon-attach
                color: darken($border_light, 15%)
                font-size: 2rem
                line-height: 50px
            &:hover
                .icon-attach
                    color: darken($border_light, 25%)
        input
            border: 0
            outline: 0
            font-size: 1.4rem
            min-height: 48px
            padding-left: 35px
            padding-right: 40px
            width: 100%
        .new-post-submit
            +roundedCorners(0 3px 3px 0)
            background: $highlight
            border: 1px solid darken($highlight, 5%)
            position: absolute
            top: -1px
            right: -1px
            color: $dark_highlight
            font-size: 1.6rem
            padding: 0 10px
            line-height: 48px
            &:hover
                background: darken($highlight, 5%)
                color: darken($dark_highlight, 5%)
                cursor: pointer 



// POSTS

// LAYOUT

.posts
    max-width: $content_width
    .post
        @extend .clearfix
        display: block
        padding: 25px
        padding-bottom: 0
        position: relative
        .post-left
            position: absolute
            text-align: right
            width: 50px
        .post-content
            padding-left: 75px
            min-height: 50px
            width: 100%

// POST

.post
    .post-left
        .avatar
            +roundedCorners(4px)
            width: 50px
            &.round
                +roundedCorners(25px)
    .post-content
        .post-meta
            @extend .clearfix
            .meta-user
                display: inline-block
                font-weight: bold
                font-size: 1.6rem
            .meta-time
                color: darken($border_light, 30%)
                display: inline-block
                font-size: 1.4rem
                font-weight: 100
                margin-left: 5px
            .meta-stats
                display: inline-block
                .stat-wrap
                    color: darken($border_light, 30%)
                    padding-left: 5px
                    font-size: 1.4rem
                    font-weight: 100
                    .icon-star
                        color: darken($border_light, 20%)
                        font-size: 1.4rem
                    &:hover
                        cursor: pointer
                        .icon-star
                            color: $gold
        .post-body
            margin-top: 5px
            p
                font-size: 1.5rem
                line-height: 2.5rem

// ATTACHMENTS

.post-attachments
    @extend .clearfix
    border-left: 5px solid $border_light
    margin-top: 20px
    padding-left: 25px
    .file
        +roundedCorners()
        background: lighten($border_light, 5%)
        border: 1px solid $border_light
        float: left
        height: 68px
        margin-right: 15px
        position: relative
        width: 250px
        &:last-child
            margin-right: 0
        .file-icon
            position: absolute
            left: 10px
            bottom: 8px
            height: 50px
        .file-name
            border-top: 1px solid $border_light
            background: lighten($border_light, 12%)
            bottom: 0
            color: darken($border_light, 35%)
            left: 0
            padding: 0 10px 0 58px
            position: absolute
            height: 40px
            line-height: 38px
            font-size: 1.6rem
            font-weight: 600
            width: 100%
        .file-meta
            color: darken($border_light, 20%)
            position: absolute
            padding: 0 10px 0 58px
            left: 0
            bottom: 42px
            width: 100%
            .meta-downloads
                float: left
                font-size: 1.5rem
                .icon-download
                    font-size: 1.3rem
            .meta-size
                float: right
                font-size: 1.5rem
        &:hover
            background: lighten($border_light, 3%)
            cursor: pointer
            .file-name
                background: lighten($border-light, 10%)
                color: darken($border_light, 40%)

// COMMENTS

// layout

.post-comments
    .comment
        @extend .clearfix
        position: relative
        .comment-left
            position: absolute
            text-align: right
            width: 40px
        .comment-content
            padding-left: 60px
            min-height: 40px
            width: 100%

// styling

.post-comments
    @extend .clearfix
    border-left: 5px solid $border_light
    margin-top: 20px
    padding-left: 25px
    .comments
        .comment
            .comment-left
                .avatar
                    +roundedCorners(4px)
                    width: 40px
                    &.round
                        +roundedCorners(25px)
            .comment-content
                .comment-meta
                    @extend .clearfix
                    .meta-user
                        display: inline-block
                        font-weight: bold
                        font-size: 1.6rem
                    .meta-time
                        color: darken($border_light, 30%)
                        display: inline-block
                        font-size: 1.4rem
                        font-weight: 100
                        margin-left: 5px
                    .meta-stats
                        display: inline-block
                        .stat-wrap
                            color: darken($border_light, 30%)
                            padding-left: 10px
                            font-size: 1.5rem
                            .icon-star
                                font-size: 1.5rem
                                padding-right: 5px
                .comment-body
                    p
                        font-size: 1.5rem
                        line-height: 2.2rem
                .comment-attachments
                    @extend .clearfix
                    border-left: 5px solid lighten($border_light, 3%)
                    margin-top: 10px
                    padding-left: 25px
                    .file
                        +roundedCorners()
                        background: lighten($border_light, 5%)
                        border: 1px solid $border_light
                        float: left
                        height: 68px
                        margin-right: 15px
                        position: relative
                        width: 250px
                        .file-icon
                            position: absolute
                            left: 10px
                            bottom: 8px
                            height: 50px
                        .file-name
                            border-top: 1px solid $border_light
                            background: lighten($border_light, 12%)
                            bottom: 0
                            color: darken($border_light, 35%)
                            left: 0
                            padding: 0 10px 0 58px
                            position: absolute
                            height: 40px
                            line-height: 38px
                            font-size: 1.6rem
                            font-weight: 600
                            width: 100%
                        .file-meta
                            color: darken($border_light, 20%)
                            position: absolute
                            padding: 0 10px 0 58px
                            left: 0
                            bottom: 42px
                            width: 100%
                            .meta-downloads
                                float: left
                                font-size: 1.5rem
                                .icon-download
                                    font-size: 1.3rem
                            .meta-size
                                float: right
                                font-size: 1.5rem
                        &:hover
                            background: lighten($border_light, 3%)
                            cursor: pointer
                            .file-name
                                background: lighten($border-light, 10%)
                                color: darken($border_light, 40%)



// NEW COMMENT

.new-comment
    margin-top: 15px
    .avatar
        +roundedCorners(4px)
        float: left
        margin-right: 15px
        width: 40px
    .new-comment-field
        +roundedCorners()
        background: white
        border: 1px solid $border_light
        float: left
        height: 42px
        padding: 10px
        position: relative
        width: calc(100% - 60px)
        .new-comment-attach
            position: absolute
            left: 0
            text-align: center
            width: 35px
            .icon-attach
                color: darken($border_light, 15%)
                font-size: 2rem
            &:hover
                .icon-attach
                    color: darken($border_light, 25%)
        input
            border: 0
            outline: 0
            font-size: 1.4rem
            line-height: 20px
            padding-left: 25px
            padding-right: 40px
            width: 100%
        .new-comment-submit
            +roundedCorners(0 3px 3px 0)
            background: lighten($border_light, 5%)
            border: 1px solid darken($border_light, 5%)
            position: absolute
            top: -1px
            right: -1px
            .icon-reply
                color: $dark_highlight
                font-size: 1.6rem
                line-height: 40px
                padding: 0 10px
            &:hover
                background: $border-light
                cursor: pointer 