.button
    +roundedCorners()
    border: 2px solid #EDEDFD
    color: #EDEDFD
    display: inline-block
    font-size: 1.65rem
    font-weight: 400
    padding: 10px 15px 11px
    text-transform: capitalize
    width: auto
    &:hover
        cursor: pointer
        background: #EDEDFD
        color: darken($dark_highlight, 10%)
    &.accent
        background: $highlight
        border-color: transparent
        border-bottom-color: darken($highlight, 10%)
        color: $dark_highlight
        &:hover
            background: darken($highlight, 10%)
            color: darken($dark_highlight, 10%)