.button
    +roundedCorners()
    background: $highlight
    border-bottom: 2px solid darken($highlight, 10%)
    color: $dark_highlight
    font-size: 1.7rem
    font-weight: 400
    padding: 7px 15px
    text-transform: uppercase
    &:hover
        background: darken($highlight, 10%)
        color: darken($dark_highlight, 10%)
        cursor: pointer