@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);
@import url(https://s3.amazonaws.com/icomoon.io/28503/pi/style.css);
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, a, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 62.5%;
  list-style: none outside none;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

html {
  height: 100%; }

body {
  position: relative;
  min-height: 100%; }

.center {
  min-height: 100%;
  margin: 0 auto;
  max-width: 960px;
  width: 100%; }

li, a, p, h1, h2, h3, h4, h5, h6, label, input, th, td {
  list-style: none outside none;
  text-decoration: none;
  font-family: "Source Sans Pro", Georgia, serif;
  font-size: 1.3rem;
  line-height: 1.7rem;
  font-weight: 400;
  letter-spacing: 0.03rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro";
  font-weight: 300; }

.accent-text {
  color: #BEAAF5;
  font-size: inherit;
  font-weight: inherit; }

.button {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-clip: padding-box;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  border: 2px solid #EDEDFD;
  color: #EDEDFD;
  display: inline-block;
  font-size: 1.65rem;
  font-weight: 400;
  padding: 10px 15px 11px;
  text-transform: capitalize;
  width: auto; }
  .button:hover {
    cursor: pointer;
    background: #EDEDFD;
    color: #584f89; }
  .button.accent {
    background: #BEAAF5;
    border-color: transparent;
    border-bottom-color: #9b7cf0;
    color: #6F65A6; }
    .button.accent:hover {
      background: #9b7cf0;
      color: #584f89; }

.page-landing, .page-signup, .page-login {
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background: url("../img/bg.jpg");
  background-position: center;
  background-attachment: fixed; }

.head {
  padding: 50px 25px;
  position: relative; }
  .head .logo img {
    height: 31px; }
  .head .nav {
    position: absolute;
    right: 25px;
    top: 45px; }
    .head .nav li {
      float: left;
      margin-left: 15px; }
      @media screen and (max-width: 600px) {
        .head .nav li {
          display: none; } }
    .head .nav .menu-open {
      display: none; }
      .head .nav .menu-open .icon-menu {
        color: white;
        font-size: 45px;
        line-height: 45px; }
      .head .nav .menu-open:hover {
        cursor: pointer; }
      @media screen and (max-width: 600px) {
        .head .nav .menu-open {
          display: block; } }
  .head .mobile-nav {
    background: #6F65A6;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100; }
    .head .mobile-nav li a {
      box-shadow: inset 0 1px #e1d8fa;
      -moz-box-shadow: inset 0 1px #e1d8fa;
      -webkit-box-shadow: inset 0 1px #e1d8fa;
      background: #BEAAF5;
      border-bottom: 1px solid #6F65A6;
      color: #6F65A6;
      display: block;
      font-size: 3rem;
      padding: 7.5%;
      position: relative;
      width: 100%; }
      .head .mobile-nav li a .icon-close {
        position: absolute;
        right: 7.5%;
        top: 25%;
        font-size: 4rem; }

.top {
  height: 100%; }
  .top .welcome {
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    padding: 0 25px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    max-width: 960px; }
    @media screen and (max-height: 750px) {
      .top .welcome {
        transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        top: 250px; } }
    .top .welcome .welcome-header {
      text-shadow: 0 0 10px black;
      -moz-text-shadow: 0 0 10px black;
      -webkit-text-shadow: 0 0 10px black;
      color: white;
      font-size: 5rem;
      line-height: 5rem;
      margin-bottom: 50px; }
    .top .welcome .welcome-invite .invite-request {
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      background-clip: padding-box;
      -moz-background-clip: padding-box;
      -webkit-background-clip: padding-box;
      border: 1px solid #6F65A6;
      font-size: 1.75rem;
      line-height: 40px;
      margin-right: 20px;
      margin-bottom: 15px;
      padding: 0 10px;
      height: 40px;
      max-width: 620px;
      width: calc(100% - 160px); }
    .top .welcome .welcome-invite .invite-submit {
      font-size: 1.8rem;
      width: 150px; }
    .top .welcome .welcome-slogan {
      text-shadow: 0 0 10px black;
      -moz-text-shadow: 0 0 10px black;
      -webkit-text-shadow: 0 0 10px black;
      color: white;
      font-size: 2.5rem;
      margin: 20px auto 0;
      line-height: 4rem;
      max-width: 650px; }

.signup-block, .login-block {
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  position: absolute;
  top: 50%;
  max-width: 960px;
  padding: 25px;
  text-align: center;
  width: 100%; }
  @media screen and (max-height: 750px) {
    .signup-block, .login-block {
      transform: none;
      -moz-transform: none;
      -webkit-transform: none;
      top: 150px; } }
  .signup-block .signup-intro, .signup-block .login-intro, .login-block .signup-intro, .login-block .login-intro {
    text-shadow: 0 0 10px black;
    -moz-text-shadow: 0 0 10px black;
    -webkit-text-shadow: 0 0 10px black;
    color: white;
    font-size: 5rem;
    line-height: 5rem;
    margin-bottom: 50px; }
  .signup-block .signup, .signup-block .login, .login-block .signup, .login-block .login {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-clip: padding-box;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    box-shadow: 0 0 10px 0 #242424;
    -moz-box-shadow: 0 0 10px 0 #242424;
    -webkit-box-shadow: 0 0 10px 0 #242424;
    background: white;
    margin: 0 auto;
    max-width: 500px;
    padding: 20px;
    text-align: left;
    width: 100%; }
    .signup-block .signup .signup-email, .signup-block .signup .signup-pass, .signup-block .signup .signup-conf, .signup-block .signup .login-email, .signup-block .signup .login-pass, .signup-block .login .signup-email, .signup-block .login .signup-pass, .signup-block .login .signup-conf, .signup-block .login .login-email, .signup-block .login .login-pass, .login-block .signup .signup-email, .login-block .signup .signup-pass, .login-block .signup .signup-conf, .login-block .signup .login-email, .login-block .signup .login-pass, .login-block .login .signup-email, .login-block .login .signup-pass, .login-block .login .signup-conf, .login-block .login .login-email, .login-block .login .login-pass {
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      background-clip: padding-box;
      -moz-background-clip: padding-box;
      -webkit-background-clip: padding-box;
      border: 1px solid #d7d7d9;
      font-size: 1.75rem;
      line-height: 40px;
      padding: 0 10px;
      margin-bottom: 15px;
      width: 100%; }
  .signup-block .signup-outro, .signup-block .login-outro, .login-block .signup-outro, .login-block .login-outro {
    text-shadow: 0 0 10px black;
    -moz-text-shadow: 0 0 10px black;
    -webkit-text-shadow: 0 0 10px black;
    color: white;
    font-size: 2.5rem;
    margin: 30px auto 0;
    line-height: 4rem;
    max-width: 500px; }

/*# sourceMappingURL=main.css.map */
