@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);
@import url(https://s3.amazonaws.com/icomoon.io/28503/pi/style.css);
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, a, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 62.5%;
  list-style: none outside none;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after, .content .content-header:after, .content .sub-header:after, .posts .post:after, .post .post-content .post-meta:after, .post-attachments:after, .post-comments .comment:after, .post-comments:after, .post-comments .comments .comment .comment-content .comment-meta:after, .post-comments .comments .comment .comment-content .comment-attachments:after {
  content: "";
  display: table;
  clear: both; }

html {
  height: 100%; }

body {
  position: relative;
  min-height: 100%; }

.center {
  min-height: 100%;
  margin: 0 auto;
  max-width: 960px;
  width: 100%; }

.page-course {
  min-height: 100%;
  width: 100%; }
  .page-course .sidebar {
    position: fixed;
    height: 100%;
    width: 250px; }
  .page-course .content {
    position: absolute;
    right: 0;
    width: calc(100% - 250px); }

li, a, p, h1, h2, h3, h4, h5, h6, label, input, th, td {
  list-style: none outside none;
  text-decoration: none;
  font-family: "Source Sans Pro", Georgia, serif;
  font-size: 1.3rem;
  line-height: 1.7rem;
  font-weight: 400;
  letter-spacing: 0.03rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro";
  font-weight: 300; }

.accent-text {
  color: #BEAAF5;
  font-size: inherit;
  font-weight: inherit; }

.button {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-clip: padding-box;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  border: 2px solid #EDEDFD;
  color: #EDEDFD;
  display: inline-block;
  font-size: 1.65rem;
  font-weight: 400;
  padding: 10px 15px 11px;
  text-transform: capitalize;
  width: auto; }
  .button:hover {
    cursor: pointer;
    background: #EDEDFD;
    color: #584f89; }
  .button.accent {
    background: #BEAAF5;
    border-color: transparent;
    border-bottom-color: #9b7cf0;
    color: #6F65A6; }
    .button.accent:hover {
      background: #9b7cf0;
      color: #584f89; }

.success-alert {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-clip: padding-box;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background: #EDEDFD;
  border: 2px solid #EDEDFD;
  color: #584f89;
  font-size: 1.65rem;
  padding: 10px 15px 11px;
  margin: 0 25px;
  position: relative;
  width: calc(100% - 50px); }
  .success-alert .icon-close {
    font-size: 1.7rem;
    position: absolute;
    right: 10px; }
    .success-alert .icon-close:hover {
      cursor: pointer; }

.page-landing, .page-signup, .page-login {
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background: url("../img/bg.jpg");
  background-position: center;
  background-attachment: fixed; }

.head {
  padding: 50px 25px;
  position: relative; }
  .head .logo img {
    height: 31px; }
  .head .nav {
    position: absolute;
    right: 25px;
    top: 45px; }
    .head .nav li {
      float: left;
      margin-left: 15px; }
      @media screen and (max-width: 600px) {
        .head .nav li {
          display: none; } }
    .head .nav .menu-open {
      display: none; }
      .head .nav .menu-open .icon-menu {
        color: white;
        font-size: 45px;
        line-height: 45px; }
      .head .nav .menu-open:hover {
        cursor: pointer; }
      @media screen and (max-width: 600px) {
        .head .nav .menu-open {
          display: block; } }
  .head .mobile-nav {
    background: #6F65A6;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100; }
    .head .mobile-nav li a {
      box-shadow: inset 0 1px #e1d8fa;
      -moz-box-shadow: inset 0 1px #e1d8fa;
      -webkit-box-shadow: inset 0 1px #e1d8fa;
      background: #BEAAF5;
      border-bottom: 1px solid #6F65A6;
      color: #6F65A6;
      display: block;
      font-size: 3rem;
      padding: 7.5%;
      position: relative;
      width: 100%; }
      .head .mobile-nav li a .icon-close {
        position: absolute;
        right: 7.5%;
        top: 25%;
        font-size: 4rem; }

.top {
  height: 100%; }
  .top .welcome {
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    padding: 0 25px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    max-width: 960px; }
    @media screen and (max-height: 750px) {
      .top .welcome {
        transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        top: 250px; } }
    .top .welcome .welcome-header {
      text-shadow: 0 0 10px black;
      -moz-text-shadow: 0 0 10px black;
      -webkit-text-shadow: 0 0 10px black;
      color: white;
      font-size: 5rem;
      line-height: 5rem;
      margin-bottom: 50px; }
    .top .welcome .welcome-invite .invite-request {
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      background-clip: padding-box;
      -moz-background-clip: padding-box;
      -webkit-background-clip: padding-box;
      border: 1px solid #6F65A6;
      font-size: 1.75rem;
      line-height: 40px;
      margin-right: 20px;
      margin-bottom: 15px;
      padding: 0 10px;
      height: 40px;
      max-width: 620px;
      width: calc(100% - 160px); }
    .top .welcome .welcome-invite .invite-submit {
      font-size: 1.8rem;
      width: 150px; }
    .top .welcome .welcome-slogan {
      text-shadow: 0 0 10px black;
      -moz-text-shadow: 0 0 10px black;
      -webkit-text-shadow: 0 0 10px black;
      color: white;
      font-size: 2.5rem;
      margin: 20px auto 0;
      line-height: 4rem;
      max-width: 650px; }

.signup-block, .login-block {
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  position: absolute;
  top: 50%;
  max-width: 960px;
  padding: 25px;
  text-align: center;
  width: 100%; }
  @media screen and (max-height: 750px) {
    .signup-block, .login-block {
      transform: none;
      -moz-transform: none;
      -webkit-transform: none;
      top: 150px; } }
  .signup-block .signup-intro, .signup-block .login-intro, .login-block .signup-intro, .login-block .login-intro {
    text-shadow: 0 0 10px black;
    -moz-text-shadow: 0 0 10px black;
    -webkit-text-shadow: 0 0 10px black;
    color: white;
    font-size: 5rem;
    line-height: 5rem;
    margin-bottom: 50px; }
  .signup-block .signup, .signup-block .login, .login-block .signup, .login-block .login {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-clip: padding-box;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    box-shadow: 0 0 10px 0 #242424;
    -moz-box-shadow: 0 0 10px 0 #242424;
    -webkit-box-shadow: 0 0 10px 0 #242424;
    background: white;
    margin: 0 auto;
    max-width: 500px;
    padding: 20px;
    text-align: left;
    width: 100%; }
    .signup-block .signup .signup-email, .signup-block .signup .signup-pass, .signup-block .signup .signup-conf, .signup-block .signup .login-email, .signup-block .signup .login-pass, .signup-block .login .signup-email, .signup-block .login .signup-pass, .signup-block .login .signup-conf, .signup-block .login .login-email, .signup-block .login .login-pass, .login-block .signup .signup-email, .login-block .signup .signup-pass, .login-block .signup .signup-conf, .login-block .signup .login-email, .login-block .signup .login-pass, .login-block .login .signup-email, .login-block .login .signup-pass, .login-block .login .signup-conf, .login-block .login .login-email, .login-block .login .login-pass {
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      background-clip: padding-box;
      -moz-background-clip: padding-box;
      -webkit-background-clip: padding-box;
      border: 1px solid #dadfea;
      font-size: 1.75rem;
      line-height: 40px;
      padding: 0 10px;
      margin-bottom: 15px;
      width: 100%; }
  .signup-block .signup-outro, .signup-block .login-outro, .login-block .signup-outro, .login-block .login-outro {
    text-shadow: 0 0 10px black;
    -moz-text-shadow: 0 0 10px black;
    -webkit-text-shadow: 0 0 10px black;
    color: white;
    font-size: 2.5rem;
    margin: 30px auto 0;
    line-height: 4rem;
    max-width: 500px; }

.sidebar {
  background: #584f89; }
  .sidebar .sidebar-user {
    background: #625899;
    border-bottom: 1px solid #4e4679;
    padding: 15px;
    position: relative;
    height: 100px;
    width: 100%; }
    .sidebar .sidebar-user .user-avatar img {
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      background-clip: padding-box;
      -moz-background-clip: padding-box;
      -webkit-background-clip: padding-box;
      box-shadow: 0 0 5px 0 #584f89;
      -moz-box-shadow: 0 0 5px 0 #584f89;
      -webkit-box-shadow: 0 0 5px 0 #584f89;
      position: absolute;
      width: 70px; }
    .sidebar .sidebar-user .user-details {
      transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      position: absolute;
      top: 50%;
      padding-left: 85px;
      width: 100%; }
      .sidebar .sidebar-user .user-details .user-handle {
        color: white;
        font-size: 2rem;
        line-height: 2.5rem; }
      .sidebar .sidebar-user .user-details .user-rank {
        color: #cfc1f8; }
    .sidebar .sidebar-user .user-settings {
      bottom: 10px;
      position: absolute;
      right: 10px; }
      .sidebar .sidebar-user .user-settings .icon-settings {
        color: white;
        font-size: 1.7rem; }
  .sidebar .sidebar-header {
    border-bottom: 1px solid #433c69;
    padding: 10px 15px 10px;
    color: #BEAAF5;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.2rem; }
  .sidebar .course-joins {
    box-shadow: 0 1px 0 #6F65A6;
    -moz-box-shadow: 0 1px 0 #6F65A6;
    -webkit-box-shadow: 0 1px 0 #6F65A6; }
    .sidebar .course-joins .course-join {
      box-shadow: inset 0 1px 0 #6F65A6;
      -moz-box-shadow: inset 0 1px 0 #6F65A6;
      -webkit-box-shadow: inset 0 1px 0 #6F65A6;
      background: #625899;
      border-bottom: 1px solid #433c69; }
      .sidebar .course-joins .course-join a {
        color: #e1d8fa;
        font-size: 1.5rem;
        display: block;
        padding: 15px;
        position: relative; }
        .sidebar .course-joins .course-join a .course-notifications {
          box-shadow: 0 0 3px #584f89;
          -moz-box-shadow: 0 0 3px #584f89;
          -webkit-box-shadow: 0 0 3px #584f89;
          border-radius: 3px;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          background-clip: padding-box;
          -moz-background-clip: padding-box;
          -webkit-background-clip: padding-box;
          background: #E05047;
          color: white;
          font-size: 1.5rem;
          font-weight: 400;
          padding: 2px 5px;
          position: absolute;
          top: 13px;
          right: 15px; }
      .sidebar .course-joins .course-join:hover {
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        background: #584f89; }
        .sidebar .course-joins .course-join:hover a {
          color: white; }
  .sidebar .sidebar-menu {
    box-shadow: inset 0 1px 0 #6F65A6;
    -moz-box-shadow: inset 0 1px 0 #6F65A6;
    -webkit-box-shadow: inset 0 1px 0 #6F65A6;
    background: #625899;
    border-top: 1px solid #4e4679;
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%; }
    .sidebar .sidebar-menu .create-course {
      text-align: center;
      width: 100%; }

.content .content-header {
  border-bottom: 1px solid #dadfea;
  padding: 15px;
  position: relative;
  width: 100%; }
  .content .content-header .header-logo {
    float: left;
    margin-left: 5px;
    margin-right: 15px;
    padding-top: 5px; }
    .content .content-header .header-logo img {
      width: 30px; }
  .content .content-header .header-title {
    display: inline-block;
    font-size: 2.3rem;
    line-height: 4rem;
    font-weight: 400; }
  .content .content-header .header-right {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
    height: 42px; }
    .content .content-header .header-right .button.accent {
      display: inline-block; }
    .content .content-header .header-right .header-search {
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      background-clip: padding-box;
      -moz-background-clip: padding-box;
      -webkit-background-clip: padding-box;
      border: 1px solid #dadfea;
      display: inline-block;
      position: relative;
      vertical-align: top;
      height: 42px;
      margin-right: 10px;
      top: 0;
      width: 200px; }
      .content .content-header .header-right .header-search input {
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        background-clip: padding-box;
        -moz-background-clip: padding-box;
        -webkit-background-clip: padding-box;
        border: 0;
        font-size: 1.6rem;
        line-height: 38px;
        outline: 0;
        padding-left: 10px;
        max-width: calc(100% - 45px); }
      .content .content-header .header-right .header-search .icon-search {
        border-radius: 0 3px 3px 0;
        -moz-border-radius: 0 3px 3px 0;
        -webkit-border-radius: 0 3px 3px 0;
        background-clip: padding-box;
        -moz-background-clip: padding-box;
        -webkit-background-clip: padding-box;
        background: #eaedf3;
        border: 1px solid #cad1e1;
        color: #6F65A6;
        position: absolute;
        top: -1px;
        right: -1px;
        font-size: 1.6rem;
        line-height: 40px;
        padding: 0 10px; }
        .content .content-header .header-right .header-search .icon-search:hover {
          background: #dadfea;
          cursor: pointer; }
.content .sub-header {
  border-bottom: 1px solid #dadfea;
  padding: 0 15px;
  position: relative;
  width: 100%; }
  .content .sub-header .sub-header-link {
    display: inline-block;
    color: #788bb3;
    font-size: 1.5rem;
    margin-right: 15px;
    line-height: 48px;
    height: 48px; }
    .content .sub-header .sub-header-link.active {
      border-bottom: 3px solid #6F65A6;
      color: #6F65A6; }

.posts .post {
  display: block;
  border-bottom: 1px solid #dadfea;
  padding: 25px;
  position: relative; }
  .posts .post .post-left {
    position: absolute;
    text-align: right;
    width: 50px; }
  .posts .post .post-content {
    padding-left: 75px;
    min-height: 50px;
    width: 100%; }

.post .post-left .avatar {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background-clip: padding-box;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  width: 50px; }
  .post .post-left .avatar.round {
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    background-clip: padding-box;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box; }
.post .post-content .post-meta .meta-user {
  display: inline-block;
  font-weight: bold;
  font-size: 1.6rem; }
.post .post-content .post-meta .meta-time {
  color: #788bb3;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 100;
  margin-left: 5px; }
.post .post-content .post-meta .meta-stats {
  display: inline-block; }
  .post .post-content .post-meta .meta-stats .stat-wrap {
    color: #788bb3;
    padding-left: 5px;
    font-size: 1.4rem;
    font-weight: 100; }
    .post .post-content .post-meta .meta-stats .stat-wrap .icon-star {
      color: #99a7c5;
      font-size: 1.4rem; }
    .post .post-content .post-meta .meta-stats .stat-wrap:hover {
      cursor: pointer; }
      .post .post-content .post-meta .meta-stats .stat-wrap:hover .icon-star {
        color: #fecb2f; }
.post .post-content .post-body {
  margin-top: 5px; }
  .post .post-content .post-body p {
    font-size: 1.5rem;
    line-height: 2.5rem; }

.post-attachments {
  border-left: 5px solid #dadfea;
  margin-top: 20px;
  padding-left: 25px; }
  .post-attachments .file {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-clip: padding-box;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background: #eaedf3;
    border: 1px solid #dadfea;
    float: left;
    height: 68px;
    margin-right: 15px;
    position: relative;
    width: 250px; }
    .post-attachments .file .file-icon {
      position: absolute;
      left: 10px;
      bottom: 8px;
      height: 50px; }
    .post-attachments .file .file-name {
      border-top: 1px solid #dadfea;
      background: white;
      bottom: 0;
      color: #687da9;
      left: 0;
      padding: 0 10px 0 58px;
      position: absolute;
      height: 40px;
      line-height: 38px;
      font-size: 1.6rem;
      font-weight: 600;
      width: 100%; }
    .post-attachments .file .file-meta {
      color: #99a7c5;
      position: absolute;
      padding: 0 10px 0 58px;
      left: 0;
      bottom: 42px;
      width: 100%; }
      .post-attachments .file .file-meta .meta-downloads {
        float: left;
        font-size: 1.5rem; }
        .post-attachments .file .file-meta .meta-downloads .icon-download {
          font-size: 1.3rem; }
      .post-attachments .file .file-meta .meta-size {
        float: right;
        font-size: 1.5rem; }
    .post-attachments .file:hover {
      background: #e4e7f0;
      cursor: pointer; }
      .post-attachments .file:hover .file-name {
        background: #fbfbfc;
        color: #5a6f9e; }

.post-comments .comment {
  position: relative; }
  .post-comments .comment .comment-left {
    position: absolute;
    text-align: right;
    width: 40px; }
  .post-comments .comment .comment-content {
    padding-left: 60px;
    min-height: 40px;
    width: 100%; }

.post-comments {
  border-left: 5px solid #dadfea;
  margin-top: 20px;
  padding-left: 25px; }
  .post-comments .comments .comment .comment-left .avatar {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-clip: padding-box;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    width: 40px; }
    .post-comments .comments .comment .comment-left .avatar.round {
      border-radius: 25px;
      -moz-border-radius: 25px;
      -webkit-border-radius: 25px;
      background-clip: padding-box;
      -moz-background-clip: padding-box;
      -webkit-background-clip: padding-box; }
  .post-comments .comments .comment .comment-content .comment-meta .meta-user {
    display: inline-block;
    font-weight: bold;
    font-size: 1.6rem; }
  .post-comments .comments .comment .comment-content .comment-meta .meta-time {
    color: #788bb3;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 100;
    margin-left: 5px; }
  .post-comments .comments .comment .comment-content .comment-meta .meta-stats {
    display: inline-block; }
    .post-comments .comments .comment .comment-content .comment-meta .meta-stats .stat-wrap {
      color: #788bb3;
      padding-left: 10px;
      font-size: 1.5rem; }
      .post-comments .comments .comment .comment-content .comment-meta .meta-stats .stat-wrap .icon-star {
        font-size: 1.5rem;
        padding-right: 5px; }
  .post-comments .comments .comment .comment-content .comment-body p {
    font-size: 1.5rem;
    line-height: 2.2rem; }
  .post-comments .comments .comment .comment-content .comment-attachments {
    border-left: 5px solid #e4e7f0;
    margin-top: 10px;
    padding-left: 25px; }
    .post-comments .comments .comment .comment-content .comment-attachments .file {
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      background-clip: padding-box;
      -moz-background-clip: padding-box;
      -webkit-background-clip: padding-box;
      background: #eaedf3;
      border: 1px solid #dadfea;
      float: left;
      height: 68px;
      margin-right: 15px;
      position: relative;
      width: 250px; }
      .post-comments .comments .comment .comment-content .comment-attachments .file .file-icon {
        position: absolute;
        left: 10px;
        bottom: 8px;
        height: 50px; }
      .post-comments .comments .comment .comment-content .comment-attachments .file .file-name {
        border-top: 1px solid #dadfea;
        background: white;
        bottom: 0;
        color: #687da9;
        left: 0;
        padding: 0 10px 0 58px;
        position: absolute;
        height: 40px;
        line-height: 38px;
        font-size: 1.6rem;
        font-weight: 600;
        width: 100%; }
      .post-comments .comments .comment .comment-content .comment-attachments .file .file-meta {
        color: #99a7c5;
        position: absolute;
        padding: 0 10px 0 58px;
        left: 0;
        bottom: 42px;
        width: 100%; }
        .post-comments .comments .comment .comment-content .comment-attachments .file .file-meta .meta-downloads {
          float: left;
          font-size: 1.5rem; }
          .post-comments .comments .comment .comment-content .comment-attachments .file .file-meta .meta-downloads .icon-download {
            font-size: 1.3rem; }
        .post-comments .comments .comment .comment-content .comment-attachments .file .file-meta .meta-size {
          float: right;
          font-size: 1.5rem; }
      .post-comments .comments .comment .comment-content .comment-attachments .file:hover {
        background: #e4e7f0;
        cursor: pointer; }
        .post-comments .comments .comment .comment-content .comment-attachments .file:hover .file-name {
          background: #fbfbfc;
          color: #5a6f9e; }

.new-comment {
  margin-top: 15px; }
  .new-comment .avatar {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-clip: padding-box;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    float: left;
    margin-right: 15px;
    width: 40px; }
  .new-comment .new-comment-field {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-clip: padding-box;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background: white;
    border: 1px solid #dadfea;
    float: left;
    height: 42px;
    padding: 10px;
    position: relative;
    width: calc(100% - 60px); }
    .new-comment .new-comment-field .new-comment-upload {
      position: absolute;
      left: 0;
      text-align: center;
      width: 35px; }
      .new-comment .new-comment-field .new-comment-upload .icon-attach {
        color: #a9b5ce;
        font-size: 2rem; }
      .new-comment .new-comment-field .new-comment-upload:hover .icon-attach {
        color: #8999bc; }
    .new-comment .new-comment-field input {
      border: 0;
      outline: 0;
      font-size: 1.4rem;
      line-height: 20px;
      padding-left: 25px;
      padding-right: 40px;
      width: 100%; }
    .new-comment .new-comment-field .new-comment-submit {
      border-radius: 0 3px 3px 0;
      -moz-border-radius: 0 3px 3px 0;
      -webkit-border-radius: 0 3px 3px 0;
      background-clip: padding-box;
      -moz-background-clip: padding-box;
      -webkit-background-clip: padding-box;
      background: #eaedf3;
      border: 1px solid #cad1e1;
      position: absolute;
      top: -1px;
      right: -1px; }
      .new-comment .new-comment-field .new-comment-submit .icon-reply {
        color: #6F65A6;
        font-size: 1.6rem;
        line-height: 40px;
        padding: 0 10px; }
      .new-comment .new-comment-field .new-comment-submit:hover {
        background: #dadfea;
        cursor: pointer; }

/*# sourceMappingURL=main.css.map */
